<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#223f49] px-10 py-3">
  <div class="flex items-center gap-4 text-white">
    <div class="size-4">
      <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
          fill="currentColor"
        ></path>
      </svg>
    </div>
    <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">
      <a href="/" hx-get="/tools/index" hx-target="#main-content" hx-push-url="/">DevTools</a>
    </h2>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <a class="text-white text-sm font-medium leading-normal" href="/unix-time" hx-get="/tools/unix-time" hx-target="#main-content" hx-push-url="/unix-time">Unix Time Converter</a>
      <a class="text-white text-sm font-medium leading-normal" href="/json-validator" hx-get="/tools/json-validator" hx-target="#main-content" hx-push-url="/json-validator">JSON Validator</a>
      <a class="text-white text-sm font-medium leading-normal" href="/ip" hx-get="/tools/ip" hx-target="#main-content" hx-push-url="/ip">IP/DNS Check</a>
      <a class="text-white text-sm font-medium leading-normal" href="/dns-leak" hx-get="/tools/dns-leak" hx-target="#main-content" hx-push-url="/dns-leak">DNS Leak</a>
      <a class="text-white text-sm font-medium leading-normal" href="/css-linter" hx-get="/tools/css-linter" hx-target="#main-content" hx-push-url="/css-linter">CSS Linter</a>
    </div>
    <button
      class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#223f49] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
    >
      <div class="text-white" data-icon="User" data-size="20px" data-weight="regular">
        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
          <path
            d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
          ></path>
        </svg>
      </div>
    </button>
  </div>
</header>
