{{define "content"}}
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Tools</h2>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <a href="/unix-time" hx-get="/tools/unix-time" hx-target="#main-content" hx-push-url="/unix-time" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAqT2O4o1p5EIQuAOL2_YvJiS1iD-gseQ4jZpIsSkuPohhL4sU9u4PPaNGfHuEbcf7q0M0N7NRyzHVwmm8LrOPJRmXN1vdXBR2xMGP30zoTpaZIE3Vxq1SzlX1pVpdu_BR5ZOoYJlSGgpvHEiuY6CvRqnI-Hn19yvmaY-lwq-LZWXkGC8AGA7YY0-YRJvpNH7CLWT4AoEJTtXKsG6xiXL9XPf9CzGNMQCXx_d-LyNTqzsl7tg62vIGsVCyTBp2Ud1J485_Unh7sxgg");'
        ></div>
        <div>
          <p class="text-white text-base font-medium leading-normal">Unix Time Converter</p>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Convert Unix timestamps to standard human-readable dates.</p>
        </div>
      </a>
      <a href="/json-validator" hx-get="/tools/json-validator" hx-target="#main-content" hx-push-url="/json-validator" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCxPHiQifhFiwRxXq8K3QmOfSfZZnPjEX2_7VR66TPJcofwcQM4BBMV4PFk92SQc0GdSTmR99xXgtTUkJoM-H8AZo3sE6cYKIVsOUpz5l2z4qK0cpwQ2ujmL89pjZS3cTP24YU3_7EDNjGpsYXOv43psNMZX6NyZkKeoLv0vCySpMIHgCT_v6p1LiC_WE6BWCI0ZAQtWoXOuKCWB6OxU05rwpyPIS2zXT4-Vin4eSN-F3eIx-4Zb_3Q1BVlXlPnjY46Ksy2W4gJ-2A");'
        ></div>
        <div>
          <p class="text-white text-base font-medium leading-normal">JSON Validator/Converter</p>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Validate and convert JSON data with ease.</p>
        </div>
      </a>
      <a href="/ip" hx-get="/tools/ip" hx-target="#main-content" hx-push-url="/ip" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAAJSQgu5iQsxgHs3SIHDus_JwmzEBK6wRJq1R8Xx_RVrRiOYer2z9_0nt2E8Dpy8POPVQQSxK086Bz2VT3f0cN6LUdJ9KrdbeXUpqeP1J51W1qFuG6n9rSQ_MQ5LphxAdUFN1uB5EVn6RsCfPDRS3egCBs1i3vitNb9tsDMliAVitXGU9cUgAiMVUyHcI72tk3FTUWMKse3LMi7RR9d5pS0Dprip--6Z88dY70znwX8YI_LIrNrBtVzaqopEi5Vism2Gou6eZBT4w");'
        ></div>
        <div>
          <p class="text-white text-base font-medium leading-normal">IP Check</p>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Check for IP address and DNS information.</p>
        </div>
      </a>
      <a href="/css-linter" hx-get="/tools/css-linter" hx-target="#main-content" hx-push-url="/css-linter" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCbvg0ChdzeLOfCwbv5yZmkaA5t0MpoWwn4G4iTNK6xEdMfOymrTZ7xg1Kx45idEz7vfQMZ19EWlBTS415BnQpImtt1nsrbbZVt-_DxdkAoA9v_k2DSjT6ejwHmoPUmz_Q9GbIfSNWE88J1lpDt3hzjy5rMXxbeJ5HIfqCob-I7RZS4KVXTB6wEbfV10zLb1Au-3rnqodJc8V7GNbxWhYb9EurOWZVdeuJ4_muVLhnQsKMvfdgxNc0udRM52K6fgjOK6KuZ0e_O7Uk");'
        ></div>
        <div>
          <p class="text-white text-base font-medium leading-normal">CSS Linter</p>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Lint your CSS code for syntax errors and best practices.</p>
        </div>
      </a>
    </div>
  </div>
</div>
{{end}}