{{define "content"}}
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Tools</h2>
    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
      <a href="/unix-time" hx-get="/tools/unix-time" hx-target="#main-content" hx-push-url="/unix-time" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("/static/images/unixtime.jpg");'
        ></div>
        <div>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Convert Unix timestamps to standard human-readable dates.</p>
        </div>
      </a>
      <a href="/json-validator" hx-get="/tools/json-validator" hx-target="#main-content" hx-push-url="/json-validator" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("/static/images/json.jpg");'
        ></div>
        <div>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Validate and convert JSON data with ease.</p>
        </div>
      </a>
      <a href="/ip" hx-get="/tools/ip" hx-target="#main-content" hx-push-url="/ip" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("/static/images/ipdns.jpg");'
        ></div>
        <div>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Check for IP address and DNS information.</p>
        </div>
      </a>
      <a href="/css-linter" hx-get="/tools/css-linter" hx-target="#main-content" hx-push-url="/css-linter" class="flex flex-col gap-3 pb-3 cursor-pointer hover:opacity-80 transition-opacity">
        <div
          class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
          style='background-image: url("/static/images/css.jpg");'
        ></div>
        <div>
          <p class="text-[#90bbcb] text-sm font-normal leading-normal">Lint your CSS code for syntax errors and best practices.</p>
        </div>
      </a>
    </div>
  </div>
</div>
{{end}}