{{define "content"}}
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap justify-between gap-3 p-4">
      <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">JSON Validator/Converter</p>
    </div>
    <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
      <label class="flex flex-col min-w-40 flex-1">
        <textarea
          placeholder="Paste your JSON here"
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#223f49] focus:border-none min-h-36 placeholder:text-[#90bbcb] p-4 text-base font-normal leading-normal"
        ></textarea>
      </label>
    </div>
    <div class="flex justify-stretch">
      <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-start">
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#0bb1ee] text-[#101e23] text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Validate JSON</span>
        </button>
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#223f49] text-white text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Convert</span>
        </button>
      </div>
    </div>
    <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Validation Results</h3>
    <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4">No errors found. Your JSON is valid.</p>
    <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Conversion Options</h3>
    <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
      <label class="flex flex-col min-w-40 flex-1">
        <select
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#223f49] focus:border-none h-14 bg-[image:--select-button-svg] placeholder:text-[#90bbcb] p-4 text-base font-normal leading-normal"
        >
          <option value="one"></option>
          <option value="two">two</option>
          <option value="three">three</option>
        </select>
      </label>
    </div>
    <div class="flex px-4 py-3 justify-start">
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#0bb1ee] text-[#101e23] text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span class="truncate">Convert</span>
      </button>
    </div>
    <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Converted Output</h3>
    <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
      <label class="flex flex-col min-w-40 flex-1">
        <textarea
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#223f49] focus:border-none min-h-36 placeholder:text-[#90bbcb] p-4 text-base font-normal leading-normal"
        ></textarea>
      </label>
    </div>
    <div class="flex px-4 py-3 justify-start">
      <button
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#223f49] text-white text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span class="truncate">Copy Output</span>
      </button>
    </div>
  </div>
</div>
{{end}}